html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS resets ^^ */

body {
  background-color: #2C4373;
  
  font-family: 'Roboto', sans-serif;
}

/* div {
  color: #3E4557;
} */



.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* grid-template-columns: repeat(12, 1fr); */
}

header {
  display: grid;
  background: #2155BF;
  color: white ;
  
  grid-template-columns: auto auto auto;
  /* border: 1px solid red; */
  /* align-items: flex-start; */
  justify-content: flex-start;
  
  /* align-content: space-around;
  align-content: space-around; */
  flex-wrap: nowrap;
  padding: 0.5rem;
}

header>.title {
  font-size: calc(0.9rem + 1.2vw);
  /* font-size: 40px; */
  /* border: 1px solid red; */
  align-content: center;
  align-self: center;
  
}


header>.logo {
  /* border: 1px solid red; */
  display: flex;
  
  justify-content: flex-end;
  
  
}

/* .apex-font {
  font-size: 10px;
  font-size: 1.3vmax;
} */

#update-date {
  position: fixed;
  /* display: inline; */
  bottom: 2vh;
  /* top: 4px; */
  color: white;
  background-color: black;
padding: 15px;
border-radius: 5px;
/* opacity: 50%; */
opacity: 0;
z-index: 20;
  
}

/* #update-date:hover {
  color: red;
} */

.fade-out {
  animation: fadeOut ease 7s;
  -webkit-animation: fadeOut ease 7s;
  -moz-animation: fadeOut ease 7s;
  -o-animation: fadeOut ease 7s;
  -ms-animation: fadeOut ease 7s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity:0;
}
}

.logo>img {
  width: 50px;
  padding-left: calc(30px + (80 - 30) * (100vw - 600px) / (1200 - 600));
}

main {
  display: flex;
  /* color: white; */
  position:relative;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  padding-top: 20px;
  max-width: 1500px;
  width: calc(100vw - 2em);
}

.dead-centerish {
 padding-top: 20vh;
}

.giant-text {
  font-size: 2em;
}

.grid-item {
  color: #2155BF;
  
  
  transition-duration: 0.3s;
  flex: 0 1 700px;
  margin: 20px;


  background-color: #73591F;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 10px;
	/* position: relative; */
	width: 350px;
	max-width: 100%;
	text-align: center;
  /* border-style: solid;
  border-color: rgb(71, 70, 70);
  border-width: 2px;
  border-radius: 4px; */
  /* box-sizing: border-box; */
  /* box-shadow: rgba(248, 245, 245, 0.13) 0px 1px 3px 0px; */
}
.grid-item:hover{
  color:#BF880D;
}
figure {
  border-color: #2C4373;
}
figcaption {
  font-size: calc(50px + 7vw);
  
  
  /* position: absolute;
  border: 1px solid red;
  top: 50px;
  left: 69px; */
  /* margin: auto; */
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav{
  padding-left: calc(50px + (450 - 50)*(100vw - 300px)/(900 - 300));
  
  /* border: 1px solid green; */
  justify-self: center;
  align-self: center;
  
}

.regular-nav {
  display: none;
  
}
.burger {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

li {
  padding-left: 2em;
}

/* for landscape screens on mobile usually */
@media only screen and (max-height: 700px) { 
  .grid-item {
    flex: 0 1 400px;
}

}


/* for regular desktop screens */
@media only screen and (min-width: 800px) { 

nav{
  padding-left: calc(100px + (900 - 100)*(100vw - 800px)/(2000 - 800));
}
/* .grid-item {
  flex: 0 1 700px;
} */
  .burger-nav {
  display: none;
 
}
.regular-nav {
  display: block;

}
ul, li {
  display:inline
}
.apex-font {
  font-size: 11px;
  /* font-size: 1.3vmax; */
}
}





.coral {
  background-color: #2C4373;
  
  /* background-color: white; */
}
.hidden {
  display: none !important;
}

/* Loader ICON */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader ICON */
