html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS resets ^^ */

body {
  background-color: #2C4373;
  
  font-family: 'Roboto', sans-serif;
}

/* div {
  color: #3E4557;
} */

.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* grid-template-columns: repeat(12, 1fr); */
}

header {
  display: grid;
  background: #2155BF;
  color: white ;
  
  grid-template-columns: 1fr 10fr;
  align-items: center;
  padding: 0.5rem;
}

header>.title {
  font-size: calc(0.9rem + 1.2vw);
  
}

header>.logo {
  display: flex;
  
  justify-content: flex-end;
  
}

.logo>img {
  width: calc(2rem + 1vw);
}

main {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  padding-top: 20px;
  max-width: 1500px;
  width: calc(100vw - 2em);
}

.grid-item {
  color: #2155BF;
  
  
  transition-duration: 0.3s;
  flex: 0 1 700px;
  margin: 20px;


  background-color: #73591F;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 10px;
	/* position: relative; */
	width: 350px;
	max-width: 100%;
	text-align: center;
  /* border-style: solid;
  border-color: rgb(71, 70, 70);
  border-width: 2px;
  border-radius: 4px; */
  /* box-sizing: border-box; */
  /* box-shadow: rgba(248, 245, 245, 0.13) 0px 1px 3px 0px; */
}
.grid-item:hover{
  color:#BF880D;
}
figure {
  border-color: #2C4373;
}
figcaption {
  font-size: calc(50px + 7vw);
  
  /* position: absolute;
  border: 1px solid red;
  top: 50px;
  left: 69px; */
  /* margin: auto; */
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* @media only screen and (min-width: 900px) {
  .grid-item {
    flex: 0 1 700px;
    
  }
  .logo>img {
    width: 30%
  }
} */

.coral {
  background-color: #2C4373;
  /* background-color: white; */
}

/* #chart{

  background:#050533;
} */